<div class="width-full">
  <div class="d-flex flex-row flex-items-center flex-start position-relative timeline-date">
    <h3 class="h6 pr-2 py-1 d-flex flex-nowrap bg-body">
      <span class="pr-1 text-gray">April </span>
      2019
    </h3>
  </div>
  <div class="d-flex flex-row flex-nowrap">
    <div class="mr-3 d-flex flex-column flex-items-center flex-justify-center">
      <span class="timeline-line-top gray-timeline"></span>
      <span class="d-flex flex-items-center flex-justify-center timeline-circle-marker gray-timeline">
        <svg aria-label="git-repo" width="12" height="16" viewBox="0 0 12 16" role="img">
          <path fill="#586069" fill-rule="evenodd"
            d="M4 9H3V8h1v1zm0-3H3v1h1V6zm0-2H3v1h1V4zm0-2H3v1h1V2zm8-1v12c0 .55-.45 1-1 1H6v2l-1.5-1.5L3 16v-2H1c-.55 0-1-.45-1-1V1c0-.55.45-1 1-1h10c.55 0 1 .45 1 1zm-1 10H1v2h2v-1h3v1h5v-2zm0-10H2v9h9V1z">
          </path>
        </svg>
      </span>
      <span class="timeline-line-bottom gray-timeline" style="flex-basis: auto; flex-grow: 2;"></span>
    </div>
    <div class="py-3 pr-3">
      <span class="f4 lh-condensed">Forged 1 experience over 1 day</span>
      <div class="d-flex flex-wrap flex-row flex-justify-start flex-items-center mt-2">
        <span class="pr-3 text-gray">conference/reactAmsterdam</span>
        <small class="f6 pt-1">
          <span class="language-indicator position-relative d-inline-block blue-500"></span>
          React
        </small>
      </div>
    </div>
  </div>
</div>

<div class="width-full">
  <div class="d-flex flex-row flex-nowrap">
    <div class="mr-3 d-flex flex-column flex-items-center flex-justify-center">
      <span class="timeline-line-top gray-timeline"></span>
      <span class="d-flex flex-items-center flex-justify-center timeline-circle-marker gray-timeline">
        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24">
          <path
            d="M8.011 6.215c-1.711-.009-3.86.918-5.499 2.557-.625.625-1.176 1.355-1.601 2.174 1.479-1.119 3.057-1.47 4.903-.434.544-1.437 1.27-2.9 2.197-4.297zm9.785 9.773c-1.516.991-3.007 1.706-4.297 2.21 1.036 1.848.686 3.424-.434 4.902.819-.424 1.549-.975 2.175-1.602 1.644-1.642 2.572-3.796 2.556-5.51zm6.152-15.946c-.412-.028-.816-.042-1.213-.042-8.602 0-13.498 6.558-15.28 11.833l4.728 4.729c5.428-1.946 11.817-6.661 11.817-15.172v-.057c-.002-.42-.019-.851-.052-1.291zm-9.888 9.91c-.391-.391-.391-1.023 0-1.414s1.023-.391 1.414 0 .391 1.023 0 1.414-1.024.39-1.414 0zm2.828-2.828c-.781-.78-.781-2.047 0-2.828s2.048-.781 2.828 0c.781.781.781 2.047 0 2.828s-2.047.781-2.828 0zm-6.534 10.438c-1.492 3.81-5.803 6.208-10.354 6.438.219-4.289 2.657-8.676 6.64-10.153l.805.806c-4.331 2.755-4.653 5.346-4.665 6.575 1.268-.015 4.054-.344 6.778-4.464l.796.798z" />
        </svg>
      </span>
      <span class="timeline-line-bottom gray-timeline" style="flex-basis: auto; flex-grow: 2;"></span>
    </div>
    <div class="py-3 width-full">
      <span class="f4 lh-condensed">Created new personal project</span>
      <div class="d-flex mt-3 p-3 border border-gray-dark rounded-1">
        <div>
          <div class="d-flex width-full flex-items-center position-relative">
            <svg class="octicon octicon-repo mr-2 text-gray" viewBox="0 0 12 16" version="1.1" width="12" height="16"
              aria-hidden="true">
              <path fill="#fff" fill-rule="evenodd"
                d="M4 9H3V8h1v1zm0-3H3v1h1V6zm0-2H3v1h1V4zm0-2H3v1h1V2zm8-1v12c0 .55-.45 1-1 1H6v2l-1.5-1.5L3 16v-2H1c-.55 0-1-.45-1-1V1c0-.55.45-1 1-1h10c.55 0 1 .45 1 1zm-1 10H1v2h2v-1h3v1h5v-2zm0-10H2v9h9V1z">
              </path>
            </svg>
            <a href="https://github.com/radi-js/radi" class="text-bold flex-auto">
              radi-js/radi
            </a>
          </div>

          <p class="text-gray-light text-small d-block mt-2 mb-3">
            Tiny (in size)
            front-end framework with no extra browser re-flows
          </p>

          <p class="mb-0 f6 text-gray-light">
            <span class="d-inline-block mr-3">
              <span class="language-indicator position-relative d-inline-block blue-500"></span>
              React
            </span>
      
            <a href="/radi-js/radi/stargazers" class="text-gray-light mr-3">
              <svg class="mr-1 octicon octicon-star" viewBox="0 0 14 16" version="1.1" width="14" height="16"
                role="img">
                <path fill="#aaa" fill-rule="evenodd"
                  d="M14 6l-4.9-.64L7 1 4.9 5.36 0 6l3.6 3.26L2.67 14 7 11.67 11.33 14l-.93-4.74L14 6z"></path>
              </svg>
              919
            </a>

            <a href="/radi-js/radi/network/members" class="text-gray-light mr-3">
              <svg class="mr-1 octicon octicon-repo-forked" viewBox="0 0 10 16" version="1.1" width="10"
                height="16" role="img">
                <path fill="#aaa" fill-rule="evenodd"
                  d="M8 1a1.993 1.993 0 0 0-1 3.72V6L5 8 3 6V4.72A1.993 1.993 0 0 0 2 1a1.993 1.993 0 0 0-1 3.72V6.5l3 3v1.78A1.993 1.993 0 0 0 5 15a1.993 1.993 0 0 0 1-3.72V9.5l3-3V4.72A1.993 1.993 0 0 0 8 1zM2 4.2C1.34 4.2.8 3.65.8 3c0-.65.55-1.2 1.2-1.2.65 0 1.2.55 1.2 1.2 0 .65-.55 1.2-1.2 1.2zm3 10c-.66 0-1.2-.55-1.2-1.2 0-.65.55-1.2 1.2-1.2.65 0 1.2.55 1.2 1.2 0 .65-.55 1.2-1.2 1.2zm3-10c-.66 0-1.2-.55-1.2-1.2 0-.65.55-1.2 1.2-1.2.65 0 1.2.55 1.2 1.2 0 .65-.55 1.2-1.2 1.2z">
                </path>
              </svg>
              44
            </a>
          </p>
        </div>
      </div>

      <!-- <div class="d-flex flex-wrap flex-row flex-justify-start flex-items-center">
        <div class="border border-gray-dark rounded-1 p-3 mt-3 timeline-card d-flex">
          <div>
            <div class="d-flex timeline-card flex-items-center">
              <svg xmlns="http://www.w3.org/2000/svg"class="mr-2 timeline-card-octicon" width="20" height="20" viewBox="0 0 24 24">
                <path fill="#28a745" fill-rule="evenodd"
                  d="M24 10.935v2.131l-8 3.947v-2.23l5.64-2.783-5.64-2.79v-2.223l8 3.948zm-16 3.848l-5.64-2.783 5.64-2.79v-2.223l-8 3.948v2.131l8 3.947v-2.23zm7.047-10.783h-2.078l-4.011 16h2.073l4.016-16z" />
              </svg>
              <h3 class="lh-condensed timeline-card-header">
                Strike.lv
              </h3>
            </div>
            <p class="timeline-card-text text-gray-light mt-2 mb-3">
              Having approached prototyping the Tallysticks
              application in an entirely functional manner, we've
              discussed that the codebase should become modularised
              in order to scale. I'm going to abstract out the
              solutions I'm building so they can be shared with the
              community.
            </p>
            <a class="btn btn-outline-white mb-3" href="">
              See it live
            </a>
            <div class="timeline-card-text d-flex flex-justify-evenly">
              <div class="timeline-card-info d-flex">
                <div>
                  <small class="f6 text-green text-bold pt-1 mr-3">Personal project</small>
                  <small class="f6 text-gray-light pt-2 mr-3">Open Source</small>
                  <small class="f6 pt-1">
                    <span class="language-indicator position-relative d-inline-block blue-500"></span>
                    React
                  </small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</div>

<div class="width-full">
  <div class="d-flex flex-row flex-items-center flex-start position-relative timeline-date">
    <h3 class="h6 pr-2 py-1 d-flex flex-nowrap bg-body">
      <span class="pr-1 text-gray">July </span>
      2018
    </h3>
  </div>
  <div class="d-flex flex-row flex-nowrap">
    <div class="mr-3 d-flex flex-column flex-items-center flex-justify-center">
      <span class="timeline-line-top gray-timeline"></span>
      <span class="d-flex flex-items-center flex-justify-center timeline-circle-marker gray-timeline">
        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24">
          <path
            d="M12.23 15.5c-6.801 0-10.367-1.221-12.23-2.597v9.097h24v-8.949c-3.218 2.221-9.422 2.449-11.77 2.449zm1.77 2.532c0 1.087-.896 1.968-2 1.968s-2-.881-2-1.968v-1.032h4v1.032zm-14-8.541v-2.491h24v2.605c0 5.289-24 5.133-24-.114zm9-7.491c-1.104 0-2 .896-2 2v2h2v-1.5c0-.276.224-.5.5-.5h5c.276 0 .5.224.5.5v1.5h2v-2c0-1.104-.896-2-2-2h-6z" />
        </svg>
      </span>
      <span class="timeline-line-bottom gray-timeline" style="flex-basis: auto; flex-grow: 2;"></span>
    </div>
    <div class="py-3 width-full">
      <span class="f4 lh-condensed">Joined <strong>Kasko</strong></span>
      <div class="border border-gray-dark rounded-1 p-3 mt-3">
        <div class="my-4 text-center">
          <img width="80" src="../assets/images/logos/kasko.png" alt="Kasko" />
        </div>
        <h4 class="mt-2 text-green text-center">
          Senior Software Engineer (Front-End)
        </h4>
        <p class="f5 mb-2 text-center">
          <span class="text-gray-light">Jul 2016 – Present ~</span> 1 yr
        </p>
        <p class="f5 mb-2 text-center text-gray-light">
          What did I do there
        </p>
        <p class="f5 mb-2 text-center text-gray-light">
          <span class="Label Label--gray-darker">elixir</span>
          <span class="Label Label--gray-darker">phoenix-framework</span>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="width-full">
  <div class="d-flex flex-row flex-items-center flex-start position-relative timeline-date">
    <h3 class="h6 pr-2 py-1 d-flex flex-nowrap bg-body">
      <span class="pr-1 text-gray">September </span>
      2016
    </h3>
  </div>
  <div class="d-flex flex-row flex-nowrap">
    <div class="mr-3 d-flex flex-column flex-items-center flex-justify-center">
      <span class="timeline-line-top gray-timeline"></span>
      <span class="d-flex flex-items-center flex-justify-center timeline-circle-marker gray-timeline">
        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24">
          <path
            d="M12.23 15.5c-6.801 0-10.367-1.221-12.23-2.597v9.097h24v-8.949c-3.218 2.221-9.422 2.449-11.77 2.449zm1.77 2.532c0 1.087-.896 1.968-2 1.968s-2-.881-2-1.968v-1.032h4v1.032zm-14-8.541v-2.491h24v2.605c0 5.289-24 5.133-24-.114zm9-7.491c-1.104 0-2 .896-2 2v2h2v-1.5c0-.276.224-.5.5-.5h5c.276 0 .5.224.5.5v1.5h2v-2c0-1.104-.896-2-2-2h-6z" />
        </svg>
      </span>
      <span class="timeline-line-bottom gray-timeline" style="flex-basis: auto; flex-grow: 2;"></span>
    </div>
    <div class="py-3 width-full">
      <span class="f4 lh-condensed">Joined <strong>Edurio</strong></span>
      <div class="border border-gray-dark rounded-1 p-3 mt-3">
        <div class="my-4 text-center">
          <img width="200" src="../assets/images/logos/edurio.png" alt="Edurio" />
        </div>
        <h4 class="mt-2 text-green text-center">
          Senior Software Engineer (Front-End)
        </h4>
        <p class="f5 mb-2 text-center">
          <span class="text-gray-light">Sep 2016 – Jul 2018 ~</span> 1 yr 11 mos
        </p>
        <p class="f5 mb-2 text-center text-gray-light">
          What did I do there
        </p>
        <p class="f5 mb-2 text-center text-gray-light">
          Most notable technologies I had to work with:
        </p>
        <p class="f5 mb-2 text-center text-gray-light">
          <span class="Label Label--gray-darker">vue</span>
          <span class="Label Label--gray-darker">Stylus</span>
          <span class="Label Label--gray-darker">Photoshop</span>
          <span class="Label Label--gray-darker">NativeScript</span>
          <span class="Label Label--gray-darker">Angular</span>
          <span class="Label Label--gray-darker">TypeScript</span>
          <span class="Label Label--gray-darker">GitLab</span>
          <span class="Label Label--gray-darker">Node.js</span>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="width-full">
  <div class="d-flex flex-row flex-items-center flex-start position-relative timeline-date">
    <h3 class="h6 pr-2 py-1 d-flex flex-nowrap bg-body">
      <span class="pr-1 text-gray">December </span>
      2011
    </h3>
  </div>
  <div class="d-flex flex-row flex-nowrap">
    <div class="mr-3 d-flex flex-column flex-items-center flex-justify-center">
      <span class="timeline-line-top gray-timeline"></span>
      <span class="d-flex flex-items-center flex-justify-center timeline-circle-marker gray-timeline">
        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24">
          <path
            d="M12.23 15.5c-6.801 0-10.367-1.221-12.23-2.597v9.097h24v-8.949c-3.218 2.221-9.422 2.449-11.77 2.449zm1.77 2.532c0 1.087-.896 1.968-2 1.968s-2-.881-2-1.968v-1.032h4v1.032zm-14-8.541v-2.491h24v2.605c0 5.289-24 5.133-24-.114zm9-7.491c-1.104 0-2 .896-2 2v2h2v-1.5c0-.276.224-.5.5-.5h5c.276 0 .5.224.5.5v1.5h2v-2c0-1.104-.896-2-2-2h-6z" />
        </svg>
      </span>
      <span class="timeline-line-bottom gray-timeline" style="flex-basis: auto; flex-grow: 2;"></span>
    </div>
    <div class="py-3 width-full">
      <span class="f4 lh-condensed">Joined <strong>Image</strong></span>
      <div class="border border-gray-dark rounded-1 p-3 mt-3">
        <div class="my-4 text-center">
          <img width="200" src="../assets/images/logos/image.png" alt="image" />
        </div>
        <h4 class="mt-2 text-green text-center">
          Web designer
        </h4>
        <p class="f5 mb-2 text-center">
          <span class="text-gray-light">Dec 2011 – Sep 2016 ~</span> 4 yrs 10 mos
        </p>
        <p class="f5 mb-2 text-center text-gray-light">
          What did I do there
        </p>
        <p class="f5 mb-2 text-center text-gray-light">
          <span class="Label Label--gray-darker">elixir</span>
          <span class="Label Label--gray-darker">phoenix-framework</span>
        </p>
      </div>
    </div>
  </div>
</div>